.outer-login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .center-square {
        width: 350px;
        height: 300px;
        margin: 320px auto;
    }
    #components-form-demo-normal-login {
        .login-form {
            max-width: 300px;
        }
        .login-form-forgot {
            float: right;
          }
    }
    .ant-checkbox-wrapper {
        color: #fff;
    }
    .ant-btn {
        width: 100%;
    }
    .ant-btn-primary {
        background-color: rgb(80, 86, 146)
    }
}